* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
}


.posicao {
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.posicao{
    flex-direction: row; 
    min-width: 768px
}


.formulario {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 330px; 
}

.salario, .despesas {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.tabelas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

table {
    width: 100%;
    background-color: white;
    border: 1px solid #333;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #ccc;
    color: #000;
}

.botoes-apagar {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#apagarDespesaBtn, #apagarTodasBtn {
    padding: 8px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}


#apagarTodasBtn {
    background-color: #6c757d;
}
